@use 'box.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press start 2p";
}

body {
    background-image: url(../image/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

